* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;

    width: calc(50px * 10);
    height: calc(50px * 10);
    
}

.background {
    background-color: #7fffd4;
    height: calc(100% - 200px);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
}

.square-1 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: pointer;

    border: 1px solid black;
}

.square-2 {
    width: calc(100% / 9);
    height: calc(100% / 9);
    cursor: pointer;

    border: 1px solid black;
}

.square-3 {
    width: calc(100% / 7);
    height: calc(100% / 7);
    cursor: pointer;

    border: 1px solid black;
}

.select {
    color: white;
    background-color: dodgerblue;
}